/part1/exer1Name/exer1Name/nbproject/private/
/part1/exer1Name/exer1Name/build/
/part1/exer1Name/build/
/part1/exer1Name/Exer2HelloWorld/nbproject/private/
/part1/exer1Name/nbproject/private/
/part1/exer2HelloWolrd/nbproject/private/
/part1/exer2HelloWolrd/build/
/part1/exer3Spruce/nbproject/private/
/part1/exer3Spruce/build/
/part1/exer4VariyingVariables/nbproject/private/
/part1/exer4VariyingVariables/build/
/part1/exer5SecondsYear/nbproject/private/
/part1/exer5SecondsYear/build/
/part1/exer6Addition/nbproject/private/
/part1/exer6Addition/build/
/part1/exer7Multiplication/nbproject/private/
/part1/exer7Multiplication/build/
/part1/exer8Adder/nbproject/private/
/part1/exer8Adder/build/
/part1/exer9Divider/nbproject/private/
/part1/exer9Divider/build/
/part1/exer10CalculatingCircunference/nbproject/private/
/part1/exer10CalculatingCircunference/build/
/part1/exer11BiggerNumber/nbproject/private/
/part1/exer11BiggerNumber/build/
/part1/exer12SumOfTheAges/nbproject/private/
/part1/exer12SumOfTheAges/build/
/part1/exer13NHLStatisticsPart1/nbproject/private/
/part1/exer13NHLStatistics/nbproject/private/
/part1/exer13NHLStatistics/build/